# Secrets
packer/secrets.pkrvars.hcl
terraform/*.tfvars
# Logs
*.log
logs.txt
# OS
.DS_Store
Thumbs.db
# Большие бинарники
*.iso
*.qcow2
*.raw
*.vmdk
*.lock
# Packer temporary files
packer/downloaded_iso_path/
packer/output-*/
packer/tmp/
